@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.star {
    cursor: pointer;
}

.star-empty {
    color: #fdeca3; /* Amarelo claro */
}

.star-temp {
    color: #ffd700; /* Amarelo claro */
}

.star-filled {
  color: #FF00FF;
}